<!DOCTYPE html>
<!-- This website template was created by: Codey Nunley 1/22/2020 -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>NEMCC IST Program</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="description" content="Insert your meta description here">
</head>
<body>

	<div id="container">

		<!-- Use the header area for the website name or logo -->
		<header>
			<a href="index.html"><img src="images/istlogo.png" alt="NEMCC IST logo"></a>
		</header>
		
		<!-- Use the nav area to add hyperlinks to other pages within the website -->
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="majors.html">Majors</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</nav>
		
		<!--Banner -->

	</div>

		<!-- Use the main area to add the main content of the webpage -->
		<main>

		</main>

		<!-- Use the footer area to add webpage footer content -->
		<footer>
		
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="majors.html">Majors</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</nav>
	
			<div id="copyright">
				&copy; Copyright 2019. All Rights Reserved.<br>
				<a href="http://www.nemcc.edu">Northeast Mississippi Community College Home Page</a>
			</div>
	
			<div id="social">
				<p>Connect with us:</p>
				<p><a href="https://www.facebook.com/NEMCCIST"><img src="images/fblogo.png" alt="Facebook logo"></a>
			</div>
	
		</footer>

	</div>

</body>
</html>